<footer class="footer">
  <ul class="footer__links">
    <li><a href="https://www.linkedin.com/in/brendasjahrial/">LinkedIn</a></li>
    <li><a href="mailto:brenda.sjahrial@gmail.com">Email</a></li>
  </ul>
</footer>
