---
layout: default
---

<div id="js-ajax-content">
  <section class="intro masthead">
    <p>
      I'm an Indonesian-born, Singapore-raised and decade-old Londoner. I'm a Senior Strategist with over 8 years of experience shaping brands that stand out and stand for something. In 2025, I was honoured to win Strategist of the Year at Transform Awards.
    </p>
  </section>
</div>
